/.vs
/.vscode
/build-ninja-debug


/RVGRT.app
/vendor
/CMakePresets.json
/embed.py
/build-ninja-release
/.repopackignore

# all CUDA and Windows files!
/*.cu
/src/*.cu
/src/renderer/*.cu
/src/platform/*.cu

/*.cuh
/include/*.cuh
/include/renderer/*.cuh
/include/platform/*.cuh

/src/renderer/D3D12Device.cpp
/src/platform/win32_main.cpp
/src/platform/WindowsPlatform.cpp
/platform/WindowsPlatform.hpp
/renderer/D3D12Device.hpp
/src/CudaRenderer.cpp
/include/platform/WindowsPlatform.hpp
/include/renderer/D3D12Device.hpp

/include/d3d12
/include/glm
/include/stb_image.h
/include/texturepackdata.h
/resources/AppIcon.icns
/resources/texturepack.png

/include/cumath.h