/.vs
/.vscode
/build-ninja-debug
/build
/.agents
/RVGRT.app
/CMakePresets.json
/embed.py
/build-ninja-release
/RVGRT.gputrace
/voxelRT-relevant-files
/build-ninja-reldeb
/.cache
/.agents    
/vendor/streamline-sdk-v2.9.0
# all CUDA and Windows files!
